<!-- app/views/user_recipes/index.html.erb -->

<h1>Your Recipes</h1>
 <% if user_signed_in? %>
  Welcome <%= current_user.name %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

<% if @recipes.present? %>
  <ul>
    <% @recipes.each do |recipe| %>
  <li>
    <%= link_to recipe.name, recipe_path(recipe) %>
    <%= link_to 'REMOVE', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </li>
<% end %>
  </ul>
<% else %>
  <p>You haven't created any recipes yet.</p>
<% end %>

<%= link_to 'Create New Recipe', new_recipe_path, class: 'btn btn-success' %>
